html {
  scroll-behavior: smooth;
}

body {
  font-family: $primary-font;
  color: $color-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

b,
strong {
  font-family: $primary-font--bold;
  font-weight: unset;
}

// ::selection {
//   color: #fff;
//   background-color: $color-primary;
// }

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1440px;
}
