html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: $primary-font;
  color: $color-primary;
  line-height: 1.9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex: 1;
}

b,
strong {
  font-family: $primary-font--bold;
  font-weight: unset;
}

// ::selection {
//   color: #fff;
//   background-color: $color-primary;
// }

.container {
  margin: 0 auto;
  padding: 0 125px;
  width: 100%;
  max-width: 1440px;
}

@media (max-width: $screen-xs) {
  .container {
    padding: 0 20px;
  }
}
