// Colors
$color-primary: #07162f;
$color-primary--light: #294262;
$color-secondary: #eb5050;
$color-light: #d7e4ef;
$color-highlight: #45d5d0;
$color-border: #99b7d1;

// Fonts
$primary-font: 'Montserrat Regular';
$primary-font--bold: 'Montserrat Medium';
$secondary-font: 'Outfit Semi Bold';
$tertiary-font: 'DM Serif Display';

// Breakpoints
$screen-lg: 1280px; // desktop
$screen-md: 1220px; // laptop
$screen-sm: 995px;  // tablet
$screen-xs: 760px;  // phone
$screen-xxs: 380px; // small phone
