// Colors
$color-primary: #07162f;
$color-primary--light: #294262;
$color-secondary: #eb5050;
$color-light: #d7e4ef;
$color-highlight: #45d5d0;
$color-border: #99b7d1;
$color-success: #3ec789;
$color-danger: #eb5050;
$color-info: #99b7d1;

// Code theme
$code-background: #d7e4ef;
$code-primary: #07162f;
$code-tertiary: #eb5050;
$code-info: #294262;
$code-mute: #616161;
