@font-face {
 font-family: 'icomoon';
 src:  url('../../fonts/icomoon.eot');
 src:  url('../../fonts/icomoon.eot') format('embedded-opentype'),
       url('../../fonts/icomoon.ttf') format('truetype'),
       url('../../fonts/icomoon.woff') format('woff'),
       url('../../fonts/icomoon.svg') format('svg');
 font-weight: normal;
 font-style: normal;
 font-display: block;
}

.icon {
 font-family: 'icomoon' !important;
 speak: never;
 font-style: normal;
 font-weight: normal;
 font-variant: normal;
 text-transform: none;
 line-height: 1;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

$icons: (
  arrow: '\e905',
  chevron: '\e902',
  close: '\e900',
  hamburger: '\e901',
  location: '\e903',
  message: '\e904',
  github: '\e906',
  linkedin: '\e907',
  twitter: '\e908',
  quotations-left: '\e909',
  quotations-right: '\e90a',
);

@each $icon-name, $icon-character in $icons {
 .icon--#{$icon-name}:before {
   content: $icon-character;
 }
}
