{% import "macros.html.twig" as macros %}
{% extends 'base.html.twig' %}

{% block meta_title "Page introuvable" %}
{% block meta_description "La page que vous recherchez n'existe pas ou a été supprimée | Rix" %}
{% block meta %}
    {{ parent() }}
{% endblock %}

{% block body_class 'page-error' %}

{% block content %}
    <div class="container">
        <div class="error">
            <h1 class="error__title">
                Erreur
                <span>404</span>
            </h1>
            <p>La page que vous recherchez n'existe pas ou a été supprimée.</p>
            <p><strong>Que voulez-vous faire ?</strong></p>
            <div class="error__action">
                <a href="{{ path('homepage') }}" class="button">Retourner à l'accueil</a>
                <a href="{{ path('blog') }}" class="button">Lire nos articles</a>
            </div>
        </div>
    </div>
{% endblock %}
