@use '../abstracts' as *;

.article-info {
  margin: 0 0 0 -1px;
  border: 1px solid $color-border;
  height: 100%;
  flex: 1;

  .author {
    padding: 30px 35px;
    border-bottom: 1px solid #99B7D1;
  }
}

.article-info__date {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 35px;

  span {
    margin-right: 35px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  strong {
    font-family: $secondary-font;
    margin-top: 2px;
  }
}

@media (max-width: $screen-md) {
  .article-info {
    margin: -1px 0 0 0;
    border: 1px solid $color-border;
  }

  .article-info__date {
    padding-top: 25px;
  }
}
