@use '../abstracts' as *;

.banner {
  height: 1850px;
  position: relative;
  display: flex;
  // default banner is the same as homepage's banner
  background-image: url('../../images/backgrounds/banners/banner-home.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  &:before {
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    background: linear-gradient(to bottom, transparent, #fff);
  }

  h1 {
    max-width: 950px;
  }

  p {
    max-width: 700px;
  }

  .button {
    margin-top: 35px;
  }

  .page-blog &,
  .page-article &,
  .page-casebook &,
  .page-case-study & {
    height: 1550px;
  }
}

$banners: (
  about: '../../images/backgrounds/banners/banner-about',
  blog: '../../images/backgrounds/banners/banner-blog',
  case-study: '../../images/backgrounds/banners/banner-case-study',
  home: '../../images/backgrounds/banners/banner-home',
  services: '../../images/backgrounds/banners/banner-services',
);

@each $page, $banner-image in $banners {
  .banner--#{$page} {
    background-image: url('#{$banner-image}.webp');
  }
}

@media (max-width: $screen-sm) {
  .banner {
    .page-home & {
      height: 1950px;
    }
  }

  @each $page, $banner-image in $banners {
    .banner--#{$page} {
      background-image: url('#{$banner-image}-mobile.webp');
    }
  }
}

@media (max-width: $screen-xs) {
  .banner {
    .page-blog &,
    .page-article &,
    .page-case-study & {
      height: 1350px;
    }

    .page-casebook & {
      height: 1400px;
    }
  }
}
