@use '../abstracts' as *;

.banner {
  height: 1850px;
  display: flex;
  background-image: url('../../images/backgrounds/banners/banner-home.jpg'); // homepage is default
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  h1 {
    max-width: 950px;
  }

  p {
    max-width: 700px;
  }

  .button {
    margin-top: 35px;
  }
}

$banners: (
  about: '../../images/backgrounds/banners/banner-about',
  blog: '../../images/backgrounds/banners/banner-blog',
  case-study: '../../images/backgrounds/banners/banner-case-study',
  home: '../../images/backgrounds/banners/banner-home',
  services: '../../images/backgrounds/banners/banner-services',
);

@each $page, $banner-image in $banners {
  .banner--#{$page} {
    background-image: url('#{$banner-image}.jpg');
  }
}

@media (max-width: $screen-sm) {
  .banner {
    background-image: url('../../images/backgrounds/banners/banner-home-mobile.jpg');
  }

  @each $page, $banner-image in $banners {
    .banner--#{$page} {
      background-image: url('#{$banner-image}-mobile.jpg');
    }
  }
}
