@use '../abstracts' as *;

.case-study {
  ul {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    margin: 70px -180px;
    padding: 0;

    > li {
      margin: 0 20px 30px;
      width: calc(30% - 25px);
      min-width: calc(30% - 25px);
      background: #fff;
      border: 1px solid #99b7d1;
      display: flex;
      flex-direction: column;
      padding: 0 0 80px 0;

      &:before,
      &:after {
        content: none !important;
      }
    }
  }
}

.case-study__item {
  a {
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      .sliding-button {
        height: 60px;
        border-top: solid 1px $color-border !important;
      }

      .sliding-button__content,
      .sliding-button:before {
        height: 60px;
        transform: translateY(0) rotate(0deg);
      }
    }
  }
}

.case-study__content {
  display: block;
  padding: 0 40px;
  text-decoration: none;

  p {
    margin: 0;
  }

  h3 {
    margin: 0 0 29px;
    color: #07162f;
  }
}

.case-study__image {
  background-image: url('../../images/about/values/glow.png');
  height: 350px;
  margin-bottom: 20px;
}

.case-study__name {
  font-family: Outfit Semi Bold;
  color: #eb5050;
  font-size: 1.25rem;
}

@media (max-width: $screen-md) {
  .case-study {
    ul {
      > li {
        width: calc(45% - 30px);
        min-width: calc(45% - 30px);
      }
    }
  }
}

@media (max-width: $screen-sm) {
  .case-study {
    ul {
      > li {
        width: calc(50% - 95px);
        min-width: calc(50% - 95px);
      }
    }
  }
}

@media (max-width: $screen-xs) {
  .case-study {
    ul {
      margin: 70px -145px;
      > li {
        width: calc(65% - 30px);
        min-width: calc(65% - 30px);
      }
    }
  }
}

@media (max-width: $screen-xxs) {
  .case-study {
    ul {
      > li {
        width: calc(55% - 10px);
        min-width: calc(55% - 10px);
      }
    }
  }
}
