@use '../abstracts' as *;
@use '_miniature' as *;

.miniature-inline {
  margin: 0 0 ($miniature-gutter * 2);
  padding: 0;
  width: 100%;
  background: #fff;

  &:before,
  &:after {
    display: none !important;
  }

  a {
    width: 100%;
    display: flex;
    text-decoration: none;
    border: 1px solid $color-border;

    &:hover,
    &:active,
    &:focus {
      .miniature-inline__image {
        &:before {
          background-color: rgba(0, 0, 0, .2);
        }

        .image {
          transform: scale(1.02);
          transform-origin: center;
        }
      }

      .sliding-button {
        border-top: solid 1px $color-border;
      }

      .sliding-button__content,
      .sliding-button:before {
        transform: translateY(0) rotate(0deg);
      }
    }
  }
}

.miniature-inline__title {
  margin: 0 0 15px;
  font-size: toRem(36px);
  color: $color-primary;
  line-height: 1.5;
}

.miniature-inline__name {
  font-size: toRem(28px);
  font-family: $secondary-font;
  font-weight: 400;
  color: $color-secondary;
  line-height: 1.7;
}

.miniature-inline__image {
  position: relative;
  overflow: hidden;

  &:before {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    z-index: 1;
    transition: background-color .2s ease-in-out;
  }

  .image {
    margin: 0;
    height: 100%;
    width: $miniature-img-width;
    min-width: $miniature-img-width;
    min-height: $miniature-img-height;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .2s ease-in-out;
  }
}

.miniature-inline__content {
  padding: 30px 30px 80px;
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
}

@media (max-width: $screen-md) {
  .miniature-inline {
    a {
      flex-direction: column;
    }
  }

  .miniature-inline__image {
    .image {
      width: $miniature-img-mobile-width !important;
      min-width: $miniature-img-mobile-width !important;
    }
  }
}

@media (max-width: $screen-sm) {
  .miniature-inline__image {
    .image {
      min-height: $miniature-img-mobile-height;
    }
  }
}

@media (max-width: $screen-xs) {
  .miniature-inline__title {
    font-size: toRem(28px);
  }

  .miniature-inline__name {
    font-size: toRem(20px);
  }
}
