@use '../abstracts' as *;
@use '_miniature' as *;

.miniature-highlight {
  margin: 0 0 ($miniature-gutter * 2);
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;

  a:hover,
  a:focus {
    .miniature-highlight__image {
      &:before {
        background-color: rgba(0, 0, 0, .2);
      }

      .image {
        transform: scale(1.02);
        transform-origin: center;
      }
    }
  }
}

.miniature-highlight__image {
  position: relative;
  overflow: hidden;
  width: $miniature-img-width;
  min-width: $miniature-img-width;
  min-height: $miniature-img-height;

  &:before {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    z-index: 1;
    transition: background-color .2s ease-in-out;
  }

  .image {
    height: 100%;
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform .2s ease-in-out;
  }
}

.miniature-highlight__content {
  display: flex;
  text-decoration: none;

  h2 {
    margin: 10px 0 15px;
  }

  .details {
    padding: 60px 80px 20px;
  }

  .date {
    font-family: $secondary-font;
    font-size: toRem(16px);
    color: $color-secondary;
  }
}

.miniature-highlight__tags {
  padding: 25px 450px 25px 80px;
  border-top: 1px solid $color-border;
}

.miniature-highlight__author {
  padding: 30px;
  min-width: 370px;
  position: absolute;
  right: 0;
  bottom: 0;
  background: #fff;
  border-top: 1px solid $color-border;
  border-left: 1px solid $color-border;
  z-index: 2;
}

@media (max-width: $screen-md) {
  .miniature-highlight__content {
    flex-direction: column-reverse;

    .details {
      padding: 30px 30px 0;
    }
  }

  .miniature-highlight__image {
    width: $miniature-img-mobile-width;
    min-width: $miniature-img-mobile-width;
    min-height: $miniature-img-mobile-height;

    .image {
      width: 100%;
      height: 100%;
    }
  }

  .miniature-highlight__tags {
    padding: 15px 30px;
  }

  .miniature-highlight__author {
    min-width: 100%;
    position: static;
    border-left: none;
  }
}
