@use "sass:math";

@use '../abstracts' as *;

$miniature-width: math.div(100%, 3);
$miniature-tablet-width: 100% * 0.5;
$miniature-mobile-width: 100%;

$miniature-gutter: 20px;

$miniature-img-width: 575px;
$miniature-img-height: 350px;

$miniature-img-mobile-width: 100%;
$miniature-img-mobile-height: 260px;

.miniature {
  margin: 0 $miniature-gutter ($miniature-gutter * 2);
  padding: 0;
  width: calc($miniature-width - ($miniature-gutter * 1.5));
  min-width: calc($miniature-width - ($miniature-gutter * 1.5));
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid $color-border;

  &:before,
  &:after {
    content: none !important;
  }

  &:nth-child(3n+1) { // 1, 4, 7 ...
    margin-left: 0;
  }

  &:nth-child(3n+3) { // 3, 6, 9 ...
    margin-right: 0;
  }

  &:last-of-type { // overwrite lack of margin-bottom on lists last item
    margin-bottom: $miniature-gutter * 2;
  }

  a {
    &:hover,
    &:focus {
      .miniature__image {
        &:before {
          background-color: rgba(0, 0, 0, .2);
        }

        .image {
          transform: scale(1.02);
          transform-origin: center;
        }
      }
    }

    height: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;

    .sliding-button {
      margin-top: auto;
      border-top: solid 1px $color-border;
    }

    .sliding-button__content,
    .sliding-button:before {
      transform: translateY(0) rotate(0deg);
    }
  }
}

.miniature__content {
  padding: 30px 30px 80px;
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  text-decoration: none;

  .h3 {
    margin: 0 0 15px;
    color: $color-primary;
    line-height: 1.5;
  }
}

.miniature__image {
  height: $miniature-img-height;
  position: relative;
  overflow: hidden;

  &:before {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    z-index: 1;
    transition: background-color .2s ease-in-out;
  }

  .image {
    height: 100%;
    display: block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform .2s ease-in-out;
  }
}

.miniature__name {
  font-family: Outfit Semi Bold;
  font-size: toRem(20px);
  color: $color-secondary;
}

@media (max-width: $screen-xl) {
  .miniature {
    width: calc($miniature-tablet-width - $miniature-gutter);
    min-width: calc($miniature-tablet-width - $miniature-gutter);

    &:nth-child(3n+1), // 4, 7 ...
    &:nth-child(3n+3) { // 3, 6 ...
      margin-left: $miniature-gutter;
      margin-right: $miniature-gutter;
    }

    &:nth-child(2n+1) {
      margin-left: 0;
    }

    &:nth-child(2n+2) {
      margin-right: 0;
    }
  }
}

@media (max-width: $screen-sm) {
  .miniature {
    margin: 0 0 ($miniature-gutter * 2) !important;
    width: $miniature-mobile-width;
    min-width: $miniature-mobile-width;
  }

  .miniature__image {
    height: $miniature-img-mobile-height;
  }
}
