@use '../abstracts' as *;

.miniature-highlight {
  display: flex;
  flex-direction: column;
  width: 1313px;
  padding-left: 0;
}

.miniature-highlight__content {
  display: flex;

  a {
    text-decoration: none;
  }

  div:first-of-type {
    padding-right: 80px;
  }

  .details {
    padding-right: 40px;
  }
}

.miniature-highlight__image {
  width: 575px;
  min-width: 575px;
  min-height: 380px;
  margin-bottom: 0;

  .image {
    height: 100%;
    width: 100%;
    display: block;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
}

.miniature-highlight__info {
  display: flex;
  position: relative;
  justify-content: space-between;
  border-top: 1px solid $color-border;

  .tags-list {
    padding: 30px 450px 30px 0;
  }

  .info {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #fff;
    min-width: 370px;
    padding: 32px 36px;
    border-top: 1px solid $color-border;
    border-left: 1px solid $color-border;
  }
}

.miniature-highlight__content,
.miniature-highlight__info {
  padding-left: 80px;
}

@media (max-width: $screen-md) {
  .miniature-highlight {
    width: 100%;
  }

  .miniature-highlight__content {
    display: flex;
    flex-direction: column-reverse;

    .details {
      padding-left: 30px;
    }
  }

  .miniature-highlight__content,
  .miniature-highlight__info {
    padding-left: 0;
  }

  .miniature-highlight__info {
    flex-direction: column;

    .info {
      border: unset;
      position: unset;
      min-width: 100%;
    }

    .tags-list {
      width: 100%;
      border-bottom: 1px solid $color-border;
      margin-left: 0;
      padding: 30px;

      &:first-of-type {
        margin-left: 0 !important;
      }
    }
  }

  .miniature-highlight__image {
    width: 100%;
    min-width: 100%;
  }

  .article-author {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
  }

  .article-author__image {
    margin-right: 120px;
  }
}
