@use '../abstracts' as *;
@use '_miniature' as *;

.miniature-inline {
  margin: 0 0 ($miniature-gutter * 2);
  padding: 0;
  width: 100%;
  background: #fff;

  &:before,
  &:after {
    display: none !important;
  }

  a {
    width: 100%;
    display: flex;
    text-decoration: none;
    border: 1px solid $color-border;

    &:hover,
    &:active,
    &:focus {
      .sliding-button {
        border-top: solid 1px $color-border;
      }

      .sliding-button__content,
      .sliding-button:before {
        transform: translateY(0) rotate(0deg);
      }
    }
  }
}

.miniature-inline__image {
  margin: 0;
  width: $miniature-img-width;
  min-width: $miniature-img-width;
  min-height: $miniature-img-height;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.miniature-inline__content {
  padding: 30px 30px 80px;
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;

  .h3 {
    margin: 0 0 15px;
    color: $color-primary;
    line-height: 1.5;
  }
}

@media (max-width: $screen-md) {
  .miniature-inline {
    a {
      flex-direction: column;
    }
  }

  .miniature-inline__image {
    width: $miniature-img-mobile-width !important;
    min-width: $miniature-img-mobile-width !important;
  }
}

@media (max-width: $screen-sm) {
  .miniature-inline__image {
    min-height: $miniature-img-mobile-height;
  }
}
