@use '../abstracts' as *;

$miniature-gutter: 15px;
$miniature-width: 100% / 3;
$miniature-tablet-width: 100% / 2;
$miniature-mobile-width: 100%;

.miniature {
  margin: 0 $miniature-gutter ($miniature-gutter * 2);
  padding: 0 0 80px 0;
  width: calc($miniature-width - 20px);
  min-width: calc($miniature-width - 20px);
  position: relative;
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid $color-border;

  &:nth-child(3n+1) { // 1, 4, 7 ...
    margin-left: 0;
  }

  &:nth-child(3n+3) { // 3, 6, 9 ...
    margin-right: 0;
  }

  &:last-of-type {
    margin-bottom: ($miniature-gutter * 2);
  }

  &:before,
  &:after {
    content: none !important;
  }

  a {
    text-decoration: none;

    .sliding-button {
      border-top: solid 1px $color-border;
    }

    .sliding-button__content,
    .sliding-button:before {
      transform: translateY(0) rotate(0deg);
    }
  }
}

.miniature__content {
  padding: 0 40px;
  display: block;
  flex: 1;
  text-decoration: none;

  h3 {
    margin: 0 0 29px;
    color: $color-primary;
    line-height: 1.5;
  }
}

.miniature__image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;
  margin-bottom: 20px;
}

.miniature__name {
  font-family: Outfit Semi Bold;
  font-size: toRem(20px);
  color: $color-secondary;
}

@media (max-width: $screen-xl) {
  .miniature {
    width: calc($miniature-tablet-width - 15px);
    min-width: calc($miniature-tablet-width - 15px);

    &:nth-child(3n+1), // 4, 7 ...
    &:nth-child(3n+3) { // 3, 6 ...
      margin-left: $miniature-gutter;
      margin-right: $miniature-gutter;
    }

    &:nth-child(2n+1) {
      margin-left: 0;
    }

    &:nth-child(2n+2) {
      margin-right: 0;
    }
  }
}

@media (max-width: $screen-md) {
  .miniature__content {
    h3 {
      margin: 0 0 10px;
    }
  }
}

@media (max-width: $screen-sm) {
  .miniature {
    margin: 0 0 30px !important;
    width: $miniature-mobile-width;
    min-width: $miniature-mobile-width;
  }
}
