@use '../abstracts' as *;
@use '_miniature' as *;

.miniature-highlight {
  margin: 0 0 ($miniature-gutter * 2);
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.miniature-highlight__image {
  width: $miniature-img-width;
  min-width: $miniature-img-width;
  min-height: $miniature-img-height;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.miniature-highlight__content {
  display: flex;
  text-decoration: none;

  h2 {
    margin: 10px 0 15px;
  }

  .details {
    padding: 60px 80px 20px;
  }

  .date {
    font-family: $secondary-font;
    font-size: toRem(16px);
    color: $color-secondary;
  }
}

.miniature-highlight__tags {
  padding: 25px 450px 25px 80px;
  border-top: 1px solid $color-border;
}

.miniature-highlight__author {
  padding: 30px;
  min-width: 370px;
  position: absolute;
  right: 0;
  bottom: 0;
  background: #fff;
  border-top: 1px solid $color-border;
  border-left: 1px solid $color-border;
}

@media (max-width: $screen-md) {
  .miniature-highlight__content {
    flex-direction: column-reverse;

    .details {
      padding: 30px 30px 0;
    }
  }

  .miniature-highlight__image {
    width: $miniature-img-mobile-width;
    min-width: $miniature-img-mobile-width;
    min-height: $miniature-img-mobile-height;
  }

  .miniature-highlight__tags {
    padding: 15px 30px;
  }

  .miniature-highlight__author {
    min-width: 100%;
    position: static;
    border-left: none;
  }
}
