@use '../abstracts' as *;

.pagination {
  margin: 0;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.pagination__item {
  margin: 0;
  padding-left: 0;
  border-top: 1px solid $color-border;
  border-bottom: 1px solid $color-border;

  &:before,
  &:after {
    display: none;
  }

  &:nth-of-type(2) {
    padding-left: 20px;
  }

  &:nth-last-of-type(2) {
    padding-right: 20px;
  }

  a {
    margin: 0;
    width: 48px;
    height: 48px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $secondary-font;
    font-size: toRem(18px);
    color: $color-primary;
    text-decoration: none;
    z-index: 1;

    &:after {
      position: absolute;
      content: '';
      width: 25px;
      height: 25px;
      z-index: -1;
      border-radius: 50%;
      background: transparent;
      transition: background ease-in .1s;
      pointer-events: none;
    }

    &:hover,
    &:active,
    &:focus {
      color: #fff;

      &:after {
        background: $color-primary;
        border-radius: 50%;
      }
    }
  }
}

.pagination__item--active {
  a {
    pointer-events: none;

    &:after {
      border-radius: unset;
      background: $color-light;
    }
  }
}

.pagination__item--nav {
  border-right: 1px solid $color-border;
  border-left: 1px solid $color-border;

  a {
    font-size: toRem(20px);
    color: $color-secondary;
    transition: background ease-in .1s;

    &:after {
      display: none;
    }

    &:hover,
    &:active,
    &:focus {
      color: #fff;
      background: $color-secondary;
    }
  }
}

@media (max-width: $screen-xs) {
  .pagination__item {
    &:nth-of-type(2) {
      padding-left: 10px;
    }

    &:nth-last-of-type(2) {
      padding-right: 10px;
    }

    a {
      width: 35px;
      height: 50px;
    }
  }

  .pagination__item--nav {
    a {
      width: 40px;
    }
  }
}
