@use '../abstracts' as *;

.technologies-list {
  margin: 0 0 60px;
  position: relative;

  ul {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    border-left: solid 1px $color-border;
    border-top: solid 1px $color-border;

    > li {
      &:before,
      &:after {
        content: none;
      }
    }
  }
}

.technologies-list__title {
  padding-bottom: 20px;
}

.technologies-list__item {
  width: 33.3333333333%;
  min-width: 33.3333333333%;
  margin-bottom: 0;
  padding-left: 0;
  position: relative;
  text-align: center;
  border-right: solid 1px $color-border;

  a {
    display: block;
    height: 100%;
    text-decoration: none;
  }

  img {
    padding: 0 50px;
    width: 100%;
    border-bottom: solid 1px $color-border;
  }

  .term {
    padding: 20px 0;
    font-family: $secondary-font;
    color: $color-border;
    border-bottom: solid 1px $color-border;
  }
}

@media (max-width: $screen-sm) {
  .technologies-list {
    ul {
      border-left: none;
    }
  }

  .technologies-list__item {
    width: 100%;
    border-left: solid 1px $color-border;

    img {
      padding: 0 100px;
    }

    &:first-of-type {
      border-top: solid 1px $color-border;
    }

    &:last-of-type {
      border-top: unset;
    }
  }
}
