@use '../abstracts' as *;

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  display: block;
}

h1,
.h1 {
  margin: 75px 0 35px;
  font-family: $tertiary-font;
  font-size: toRem(72px);
  font-weight: 400;
  line-height: 1.25;

  * {
    font-family: $tertiary-font;
  }

  span {
    display: block;
    font-family: $secondary-font;
    color: $color-secondary;
    font-size: toRem(53px);
  }

  strong {
    color: $color-secondary;
  }
}

h2,
.h2 {
  margin: 30px 0;
  font-size: toRem(36px);
  font-family: $secondary-font;
  font-weight: 400;
  line-height: 1.3;
}

h3,
.h3 {
  margin: 30px 0 23px;
  font-size: toRem(28px);
  font-family: $secondary-font;
  font-weight: 400;
  color: $color-secondary;
  line-height: 1.7;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 23px 0;
  font-size: toRem(20px);
  font-family: $secondary-font;
  font-weight: 400;
  color: $color-secondary;
  line-height: 2.4;
}

.h2--large {
  font-family: $tertiary-font;
  font-size: toRem(72px);
  font-weight: 400;
  line-height: 1.2;

  > span {
    display: block;
    font-family: $secondary-font;
    font-size: toRem(28px);
    color: $color-secondary;
    line-height: 1.8;
  }
}

.h3--small {
  margin-bottom: 0;
  font-size: toRem(16px);
  font-family: $secondary-font;
  font-weight: 400;
  color: $color-secondary;
  line-height: 1.7;
}

.h3--dark {
  margin-top: 0;
  font-size: toRem(28px);
  font-family: $secondary-font;
  color: $color-primary;
}

.image-title {
  margin: 0 0 25px;

  img {
    margin: 0 0 15px;
    height: 55px;
  }
}

.image-title__content {
  margin: 0;
  font-family: $secondary-font;
  font-size: toRem(24px);
  color: $color-primary;
  line-height: 1.3;
}

.image-title--light {
  .image-title__content {
    color: #fff;
  }
}

.case-study__title {
  margin-bottom: 40px !important;
}

.anchor-title {
  scroll-margin-top: 130px;

  a {
    text-decoration: none;

    &:after {
      position: relative;
      left: 10px;
      bottom: -10px;
      color: $color-primary--light;
      content: '#';
      transform: translateY(-10px);
      opacity: 0;
      transition: opacity ease-in .15s, bottom ease-in .15s;
    }

    &:hover,
    &:focus,
    &:active {
      &:after {
        bottom: 0;
        opacity: 1;
      }
    }
  }
}

@media (max-width: $screen-sm) {
  h1,
  .h1 {
    margin: 15px 0 30px;
    font-size: toRem(48px);
  }

  h2,
  .h2 {
    font-size: toRem(24px);
  }

  h3,
  .h3 {
    font-size: toRem(24px);
  }

  .h2--large {
    font-size: toRem(36px);
  }

  .h3--dark {
    font-size: toRem(24px);
  }

  .h2,
  .h2--large {
    > span {
      font-size: toRem(20px);
    }
  }

  .case-study__title {
    font-size: toRem(36px);
  }

  .anchor-title {
    scroll-margin-top: 50px;
  }
}

@media (max-width: $screen-xxs) {
  h1,
  .h1 {
    font-size: toRem(35px);
  }
}
