@use '../abstracts' as *;

.footer {
  padding: 100px 0 160px;
  color: #fff;
  line-height: 1.6;
  background: $color-primary;

  .container {
    padding: 0 20px;
  }

  a {
    font-family: $primary-font;
    color: rgba(255, 255, 255, .8);
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      color: rgba(255, 255, 255, 1);
    }
  }
}

.footer__contact {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;

  .catchphrase {
    max-width: 660px;
    flex: 1;
    font-size: toRem(48px);
    line-height: 1.2;

    .h1 {
      margin: 0 0 24px;
      font-family: $tertiary-font;
      font-size: toRem(64px);
      color: #fff;
      line-height: 1.2;
    }

    strong {
      color: $color-highlight;
    }
  }
}

.footer__brand {
  position: relative;
  color: #fff;
  border-top: solid 2px #fff;

  img {
    width: 170px;
  }

  span {
    position: absolute;
    top: 65px;
    left: 105px;
  }
}

.footer__links {
  margin-top: -30px;
  margin-bottom: 75px;
  padding-left: 105px;
  position: relative;
  display: flex;
  align-items: flex-end;
  z-index: 1;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    flex: 1;
  }

  li {
    margin: 0 0 20px;
    padding-left: 30px;
    position: relative;

    &:before,
    &:after {
      width: 16px;
      height: 16px;
      position: absolute;
      top: 4px
    }

    &:before {
      left: 0;
      content: '';
      background: #203860;
      border-radius: 50%;
    }

    &:after {
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'icomoon';
      font-size: toRem(7px);
      color: #fff;
      content: '\e902';
    }

    a {
      font-family: $primary-font;
      text-decoration: none;

      &:hover,
      &:active,
      &:focus {
        color: rgba(255, 255, 255, 1);
      }
    }
  }

  a {
    margin-bottom: 45px;
    font-family: $secondary-font;

    &:hover,
    &:active,
    &:focus {
      color: $color-secondary;
    }
  }

  .pages {
    width: 300px;
    display: flex;
  }

  .services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;

    > div {
      width: 100%;
      display: flex;
    }

    ul {
      margin: 0 10px;

      &:first-of-type { margin-left: 0; }
      &:last-of-type { margin-right: 0; }
    }
  }
}

.footer__legals {
  text-align: center;
}

@media (max-width: $screen-lg) {
  .footer__contact {
    flex-direction: column;

    .catchphrase {
      margin-bottom: 60px;
      max-width: unset;
      font-size: toRem(30px);
    }
  }
}

@media (max-width: $screen-md) {
  .footer__links {
    align-items: flex-start;

    .pages {
      margin-top: 65px;
      width: 400px;
    }

    .services {
      > div {
        flex-direction: column;
      }

      ul {
        margin: 0;
      }
    }
  }
}

@media (max-width: $screen-sm) {
  .footer__contact {
    .catchphrase {
      font-size: toRem(36px);

      .h1 {
        font-size: toRem(48px);
      }
    }
  }

  .footer__brand {
    img {
      width: 115px;
    }

    span {
      top: 50px;
      left: 71px;
    }
  }

  .footer__links {
    margin-top: 0;
    padding-left: 0;
    flex-direction: column;

    a {
      font-size: toRem(20px);
    }

    ul {
      a {
        font-size: toRem(16px);
      }
    }

    .pages {
      margin-top: 45px;
      width: unset;
    }

    .services {
      margin-top: 35px;

      a {
        margin-bottom: 25px;
      }
    }
  }

  .footer__legals {
    a {
      white-space: nowrap;
    }
  }
}
