@use '../abstracts' as *;

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: $primary-font;
  font-size: $base-font-size;
  color: $color-primary;
  line-height: 1.9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding-bottom: 350px;
  flex: 1;
  background: url('../../images/backgrounds/background.jpg') no-repeat;
  background-size: contain;
  background-position: center bottom;
}

b,
strong {
  font-family: $primary-font--bold;
  font-weight: unset;
}

// ::selection {
//   color: #fff;
//   background-color: $color-primary;
// }

.container {
  margin: 0 auto;
  padding: 0 125px;
  width: 100%;
  max-width: 1440px;
}

.twitter-tweet {
  margin: 10px auto;
}

@media (max-width: $screen-xs) {
  main {
    background: url('../../images/backgrounds/background-mobile.jpg') no-repeat;
  }

  .container {
    padding: 0 20px;
  }
}
