{% extends 'blog/index.html.twig' %}

{% set noindex = true %}

{% block content %}
    <div class="banner">
        <div class="container">
            <h1>Blog <strong>/</strong>
            </h1>
        </div>
    </div>

    {{ block('articles') }}

    {% include 'blog/pagination.html.twig' with {
        route: 'blog_tag_page',
        minPageRoute: 'blog_tag',
        routeParams: { tag: tag }
    } %}
{% endblock content %}
