@use '../abstracts' as *;

.page-article {
  main {
    padding-bottom: 75px;
    background-image: none; // remove background-image to prevent ugliness when not much content on page
  }

  h2:first-of-type {
    padding-top: 0;
    margin-top: 0;
  }

  figure {
    margin-left: -120px;
    width: calc(100% + 120px);
  }

  .alert {
    margin: 0 0 40px;
  }
}

@media (max-width: $screen-md) {
  .page-article {
    figure {
      margin-left: 0;
      width: 100%;
    }
  }
}
