@use '../abstracts' as *;

.page-case-study {
  .banner {
    height: 1500px;
    background-image: url('../../images/case-studies/snow_mountain_background.jpg') !important;
    background-size: contain !important;
  }

  .beveled-wrapper__gradient {
    .content {
      position: relative;
      padding-bottom: 55px;

      ul {
        margin-top: 0;
      }

      blockquote {
        margin: 80px 0;
        padding: 46px 80px;
        font-size: 36px;
        line-height: 1.4;
        position: relative;
        border: solid 1px #99B7D1;

        &::before,
        &::after {
          padding: 0 8px;
          background-color: #fff;
          color: $color-highlight;
          font-family: icomoon;
          position: absolute;
        }

        &::before {
          content:'\e909';
          top: -34px;
        }

        &::after {
          content: '\e90a';
          bottom: -32px;
          right: 90px;
        }
      }

      figure {
        margin-left: -125px;

        figcaption {
          text-align: center;
        }
      }
    }

    .shape {
      background-image: url('../../images/case-studies/header_shape.svg');
    }

    .case-study__header {
      width: 50%;
    }

    .case-study__image {
      height: 743px;
    }
  }

  .site-navigation {
    position: absolute;
    top: -275px;
    right: 125px;
    width: calc(50% - 145px);
    padding: 128px 55px 55px;
    color: #fff;
    background: transparent url('../../images/case-studies/case_study_site_vector.svg') no-repeat;

    .site-navigation__image {
      background: $color-light;
      height: 350px;
      margin-bottom: 74px;
    }

    .button {
      width: 100%;

      &:before {
        width: 490px;
      }
    }
  }

  .technologies-list {
    margin: 0 0 60px;
    position: relative;

    ul {
      display: flex;
      margin: 0;
      padding: 0;
      border-top: solid 1px #99B7D1;
      border-bottom: solid 1px #99B7D1;
      border-left: solid 1px #99B7D1;

      > li {
        &:before,
        &:after {
          content: none;
        }
      }
    }

    .technologies-list__title {
      padding-bottom: 20px;
    }

    .technologies-list__item {
      width: 33.3333333333%;
      min-width: 33.3333333333%;
      margin-bottom: 0;
      padding-left: 0;
      position: relative;
      text-align: center;

      a {
        padding-bottom: 20px;
        display: block;
        height: 100%;
        text-decoration: none;
        border-right: solid 1px #99B7D1;
      }

      img {
        margin-bottom: 20px;
        padding: 0px 50px;
        width: 100%;
        border-bottom: solid 1px #99B7D1;
      }

      span {
        font-weight: 600;
        font-size: 16px;
        color: #99B7D1;
        white-space: nowrap;
      }
    }
  }
}


