@use '../abstracts' as *;

.page-article {
  .banner {
    height: 1500px;
    background-image: url('../../images/blog/background.jpg') !important;
    background-size: contain !important;
  }

  .beveled-wrapper__gradient {
    .shape {
      background-image: url('../../images/case-studies/header_shape.svg');
    }
  }

  main {
    background: transparent;
    padding-bottom: 75px;
  }

  h2:first-of-type {
    padding-top: 0;
    margin-top: 0;
  }

  figure {
    margin-left: -120px;
    width: calc(100% + 120px);
  }

  .alert {
    margin: 0 0 40px;
  }
}

@media (max-width: $screen-md) {
  .page-article {
    figure {
      margin-left: 0;
      width: 100%;
    }
  }
}
