<style type="text/css">
    body {
        background: #f2f4fc;
    }

    td {
        padding: 0 25px;
    }

    .email {
        max-width: 580px;
        margin: 0 auto;
        border-spacing: 0;
        background: #fff;
        font-family: Arial, sans-serif;
        color: #07162f;
    }

    h1 {
        margin: 0;
        padding: 50px 25px;
        font-size: 28px;
        font-weight: 400;
        text-align: center;
    }

    .image {
        display: block;
        margin: 50px auto 0;
        max-width: 100%;
        height: auto;
    }

    .price {
        padding: 50px 25px;
        font-size: 22px;
    }

    .unit {
        font-weight: 600;
    }

    .title,
    .price {
        text-align: center;
    }

    .footer {
        padding: 80px 25px 20px;
        font-size: 12px;
    }

    .footer a {
        color: #07162f;
        text-decoration: underline;
    }
</style>

<table class="email">
    <tbody>
        <tr>
            <td>
                <img src="https://www.rix.fr/images/rix.svg" width="60" height="106" style="width: 60px; height: 106px">
            </td>
        </tr>
        <tr>
            <td><h1>Facture n°542</h1></td>
        </tr>
        <tr>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at nisl malesuada, fringilla massa eget, luctus diam.</td>
        </tr>
        <tr>
            <td><img alt="image" class="image" src="https://www.placecage.com/g/200/300"></td>
        </tr>
        <tr>
            <td class="price">Montant de la facture: <span class="unit">2000€</span></td>
        </tr>
        <tr>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at nisl malesuada, fringilla massa eget, luctus diam.</td>
        </tr>
        <tr>
            <td class="footer">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at nisl malesuada, fringilla massa eget, luctus diam.
                <a href="#">Unsubscribe</a>
            </td>
        </tr>
    </tbody>
</table>

