<style type="text/css">
    body {
        background: #f2f4fc;
    }

    td {
        padding: 0 25px;
    }

    .email {
        max-width: 580px;
        margin: 0 auto;
        border-spacing: 0;
        background: #fff;
        font-family: Arial, sans-serif;
    }

    .logo {
        width: 65px;
    }

    .title {
        padding: 50px 25px;
        font-size: 35px;
    }

    .price {
        padding: 50px 25px;
        font-size: 30px;
    }

    .unit {
        font-weight: 600;
    }

    .title,
    .price {
        text-align: center;
    }

    .footer {
        padding: 80px 25px 20px;
        font-size: 14px;
        color: #15192e;
    }

    .footer > a {
        color: #99B7D1;
        text-decoration: underline
        border-bottom: 2px solid #99B7D1;
    }
</style>

<table class="email">
    <tbody>
        <tr>
            <td>
                <img src="https://www.rix.fr/images/rix.svg" width="60" height="106" style="width: 60px; height: 106px">
            </td>
        </tr>
        <tr>
            <td class="title">Facture n°542</td>
        </tr>
        <tr>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at nisl malesuada, fringilla massa eget, luctus diam.</td>
        </tr>
        <tr>
            <th><img alt="image" src="https://www.placecage.com/g/200/300" style="margin-top: 50px;"></th>
        </tr>
        <tr>
            <td class="price">Montant de la facture: <span class="unit">2000€</span></td>
        </tr>
        <tr>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at nisl malesuada, fringilla massa eget, luctus diam.</td>
        </tr>
        <tr>
            <td class="footer">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at nisl malesuada, fringilla massa eget, luctus diam.
                <a href="#">Unsubscribe</a>
            </td>
        </tr>
    </tbody>
</table>

