<style type="text/css">
    .title {
        font-family: 'fantasy' !important;
    }

    .logo {
        width: 65px;
        height: 120px;
    }
</style>

<table class="main">
    <tr>
        <td>
            <img src="https://www.rix.fr/images/rix.svg" class="logo" alt="logo rix">
        </td>
    </tr>
    <tr>
        <td>
            <h1 class="title">Facture N°
                <span>542</span>
            </h1>
        </td>
    </tr>
    <tr>
        <td>
            <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at nisl malesuada, fringilla massa eget, luctus diam.
            </span>
        </td>
    </tr>
    <tr>
        <td>
            <h2>
                Montant de la facture:
                <span>2000€</span>
            </h2>
        </td>
    </tr>
    <tr>
        <td>
            <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at nisl malesuada, fringilla massa eget, luctus diam.
            </span>
        </td>
    </tr>
</table>

